* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: black;
    color: white;
}

/* Header */

.header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px;
    z-index: 10;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.nav-item {
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 2px;
}

.nav-icon {
    width: 18px;
    filter: invert(1);
    cursor: pointer;
}

.nav-search {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 2px;
}

.location-icon {
    width: 50px;
    opacity: 0.8;
}


/* Outdoor */

.outdoor {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.thumbnail {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.outdoor-content {
    position: absolute;
    inset: 0;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.outdoor-content h1 {
    font-size: 100px;
    margin-bottom: 10px;
}

.outdoor-content p {
    font-size: 24px;
    margin-bottom: 20px;
}

.play-button {
    margin-top: 20px;
    background: transparent;
    border: 1px solid white;
    color: white;
    font-size: 24px;
    padding: 20px 25px;
    cursor: pointer;
    border-radius: 100%;
    align-items: center;
}

.video {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fade-out {
    opacity: 0;
}

/* Explore the world*/
.explore {
    padding: 100px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.explore h2 {
    font-size: 42px;
    margin-bottom: 10px;
}

.explore p {
    font-size: 18px;
    opacity: 0.7;
    margin-bottom: 60px;
    width: 600px;
}

/*cards*/
.explore-cards {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 60px;
}

.explore-card {
    position: relative;
    width: 300px;
    height: 420px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    overflow: hidden;
}

.explore-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to top,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0)
    );
}

.card-content {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.card-content h3 {
    font-size: 22px;
}

.card-content span {
    font-size: 14px;
    opacity: 0.7;
}

.see-more {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    letter-spacing: 2px;
}

/*The journal*/

.the-journal {
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.the-journal-header {
    text-align: center;
    margin-bottom: 50px;
}

.the-journal-header h2 {
    font-size: 36px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.the-journal-header p {
    font-size: 16px;
    color: #aaa;
}

.journal-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.journal-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 50px;
}

.journal-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 2%;
}

.journal-date {
    font-size: 12px;
    letter-spacing: 2px;
    color: #999;
}

.journal-card h3 {
    font-size: 22px;
}

.journal-card p {
    font-size: 15px;
    color: #ccc;
}

/* Footer Section */

.footer-section {
    height: 60vh;
    position: relative;

    background:
        linear-gradient(
            to top,
            rgba(0, 0, 0, 0.8) 0%,
            rgba(0, 0, 0, 0.4) 40%,
            rgba(0, 0, 0, 0) 100%
        ),
        url("./images/footer.jpg");

    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* joga tudo para a base */
    align-items: center;

    text-align: center;
    gap: 20px;
    padding-bottom: 40px;
}


.footer-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-button {
    background: transparent;
    border: 0;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    letter-spacing: 2px;
    z-index: 1;
}

.footer-section p {
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    z-index: 1;
}

.footer-section::before {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.85),
        rgba(0, 0, 0, 0)
    );

    z-index: 0;
    pointer-events: none;
}

.footer-section {
    
}







